---
import Layout from "../layouts/Layout.astro";
import Nuantion from '../section/components/Shine/Nuantion.tsx'
// section Component
import Header from "../section/Header.tsx"
import Hero from '../section/Hero.vue'
import Banner from '../section/Banner/Banner.svelte'
import BannerSec from "../section/Banner/BannerSec.svelte";
import BannerInformation from "../section/Banner/BannerInformation.svelte";
import CatalogCard from '../section/CataloCard'
---

<Layout title="Welcome to Astro.">
  <section>
    <main>
      <Header />
      <Hero/>
      <Nuantion/>
      <Banner/>
      <BannerSec/>
      <BannerInformation/>
      <CatalogCard/>
    </main>
  </section>
</Layout>
