---
import Layout from "../layouts/Layout.astro";
import Nuantion from '../section/components/Nuantion'
// section Component
import Header from "../section/Header.tsx"
import Hero from '../section/Hero.vue'
import Banner from '../section/Banner.svelte'
---

<Layout title="Welcome to Astro.">
  <section>
    <main>
      <Header />
      <Hero/>
      <Nuantion/>
      <Banner/>
    </main>
  </section>
</Layout>
